<!-- customer list -->
<div class="customer panel panel-success" *ngFor="let customer of searchCustomersList">
  <h2 class="text-center panel-heading">{{customer.name}}</h2>
  <table class="table table-bordered">
    <tr>
      <th>Customer ID</th>
      <th>Age</th>
      <th>Location</th>
      <th>Gender</th>
      <th>Income</th>
    </tr>
    <tr> 
      <td class="col-md-2">{{customer.id}}</td>
      <td class="col-md-2">{{customer.age}}</td>
      <td class="col-md-2">{{customer.location}}</td>
      <td class="col-md-2">{{customer.gender}}</td>
      <td class="col-md-2">{{customer.income}}</td>
    </tr>
  </table>
</div>
<!-- customer list end -->
